#include ".themelink"

!URxvt Settings
Xft.antialias:				true
urxvt*depth:				32
Xft.rgba:				rgb
Xft.hinting:				true
Xft.autohint:				true
Xft.hintstyle:				hintslight
URxvt*.scrollBar:			false
URxvt*.alt-font-width:			true
URxvt*.letterSpace:			0
URxvt*.lineSpace:			0
URxvt*.saveLines:			4096
URxvt*.cursorUnderline:			true

!Rofi Settings
rofi.modi:				window,run,drun
rofi.lines:				25
rofi.columns:				1
rofi.sidebar-mode:			true
rofi.show-icons:			true
rofi.width:				20%
rofi.auto-select:			true
rofi.line-padding:			2
rofi.line-margin:			2
rofi.location:				0


